<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userLayoutInquiryWrite}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	
	<!-- 추가할 js file -->
	<!-- 타이틀 추가 -->
	<th:block layout:fragment="title">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-9">
				<h3 class="mb-30">신고 작성 페이지</h3>
			</div>
		</div>
	</th:block>
	
	<!-- 컨텐츠 추가 -->
	<th:block layout:fragment="contents">
		
	</th:block>
	
</html>