<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="outpolic.enter.inquiry.mapper.EnterInquiryMapper">
 	<resultMap 	type="EnterInquiry" 			id="InquiryResultMap">
		<id 	column="iq_cd" 			property="inquiryCode" />
		<result column="mbr_nm" 		property="memberName" />
		<result column="iqt_nm" 		property="inquiryTypeName" />
		<result column="iq_ttl" 		property="inquiryTitle" />
		<result column="iq_cn" 			property="inquiryCn" />
		<result column="iq_reg_ymdt" 	property="inquiryRegDate" />
		<result column="sa_orgnl_nm" 	property="subAttOrgnlName" />
		<result column="sa_srvr_nm" 	property="subAttSrvrName" />
		<result column="sa_path" 		property="subAttPath" />
		<result column="iqp_ans_cn" 	property="inquiryProcessCn" />
		<result column="iqp_reg_ymdt" 	property="inquiryProcessRegDate" />
		<result column="adm_cd" 		property="adminCode" />
		<result column="adm_nm" 		property="adminName" />
	</resultMap>
	
	<select id="getEnterInquiryByCode" parameterType="String" resultMap="InquiryResultMap">
		select
			i.iq_cd,
			m.mbr_nm,
			iqt.iqt_nm,
			i.iq_ttl,
			i.iq_cn,
			i.iq_reg_ymdt,
			sa.sa_orgnl_nm,
			sa.sa_srvr_nm,
			sa.sa_path,
			ip.iqp_ans_cn,
			ip.iqp_reg_ymdt,
			a.adm_cd,
			m2.mbr_nm as adm_nm
		from
			inquiry i
			left join submission_attachment sa using (sa_cd)
			inner join member m on i.mbr_cd = m.mbr_cd
			inner join inquiry_type iqt using (iqt_cd)
			left join inquiry_process ip using (iq_cd)
			left join admin a using (adm_cd)
			left join member m2 on a.mbr_cd = m2.mbr_cd
		where
			i.iq_cd = #{inquiryCode}
		order by
			m.mbr_nm desc;
	</select>
	
	<select id="getInquiryList" resultMap="InquiryResultMap">
		<!-- 문의 목록 조회 -->
		select
			i.iq_cd,
			m.mbr_nm,
			iqt.iqt_nm,
			i.iq_ttl,
			i.iq_cn,
			i.iq_reg_ymdt,
			sa.sa_orgnl_nm,
			sa.sa_srvr_nm,
			sa.sa_path
		from
			inquiry i left join submission_attachment sa 
			using (sa_cd)
			inner join member m 
			on i.mbr_cd = m.mbr_cd
			inner join inquiry_type iqt 
			using (iqt_cd)
		order by
			i.iq_reg_ymdt desc;
	</select>
 </mapper>