<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userLayoutMain}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
		<title>로그인</title>
	</head>
	<th:block layout:fragment="contents">
	        <!-- 로그인 기능 신세영 -->
    	<div class="page-content w-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto w-100">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" th:src="@{/user/assets/imgs/page/login-1.png}" alt="" />
                            </div>
                            <div class="col-lg-6 col-md-8 login-page-ssy">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1 login-heading-ssy">
                                            <h1 class="mb-5 mb-5-ssy">Login</h1>
                                            <p class="mb-30 mb-30-ssy">아직 회원이 아니신가요? <a th:href="@{/pageRegister}">회원가입</a></p>
                                        </div>
                                        <form method="post" th:action="@{/login}">
                                            <div class="form-group">
                                                <input type="text" required="" name="email" placeholder="아이디를 입력해주세요" />
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" name="password" placeholder="비밀번호를 입력해주세요" />
                                            </div>
                                            <div class="login_footer form-group">
                                             
                                            </div>
                                            <div class="login_footer form-group mb-50 login_footer_ssy">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>계정 저장</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" th:href="@{/forgotPswd}">비밀번호를 잊어버리셨나요?</a>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Log in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</th:block>        
	<!-- 추가할 js file -->
	
</html>