<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userLayoutListpage}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	<!-- 추가할 javaFile -->
	<th:block layout:fragment="jsFile">
	</th:block>
	
	<!-- 추가할 script -->
	<th:block layout:fragment="jsScript"></th:block>
	
	
	<th:block layout:fragment="contents">
		<div class="row product-grid">
	        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
	            <div class="product-cart-wrap mb-30">
	                <div class="product-img-action-wrap">
	                    <div class="product-img product-img-zoom">
	                        <a href="/user/userContentsParticular">
	                            <img class="default-img" src="assets/imgs/shop/product-1-1.jpg" alt="" />
	                            <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt="" />
	                        </a>
	                    </div>
	                    <div class="product-action-1">
	                        <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
	                        <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
	                        <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
	                    </div>
	                    <div class="product-badges product-badges-position product-badges-mrg">
	                        <span class="hot">Hot</span>
	                    </div>
	                </div>
	                <div class="product-content-wrap">
	                    <h2><a href="shop-product-right.html">Seeds of Change Organic Quinoe</a></h2>
	                    <div>
	                        <span class="font-small text-muted">By <a href="/user/userContentsParticular">NestFood</a></span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</th:block>
</html>