<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="enter/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="enter/assets/css/main.css?v=5.6" />
</head>
<body>
	 <div class="page-content pt-150 pb-150" th:fragment="enterMypageAside">
	    <div class="container">
	    	
	        <div class="row">
	            <div class="col-lg-10 m-auto">
	                <div class="row">
	                    <div class="col-md-3">
	                        <div class="dashboard-menu">
	                        
	                            <ul class="nav flex-column" role="tablist">

	                                <li class="nav-item">
	                                    <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>내 정보 관리</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>내 포트폴리오</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>내 외주</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>내 외주 현황</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>내가 작성한 리뷰</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>즐겨찾기 한 콘텐츠</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-enter mr-10"></i>결제내역</a>
	                                </li>
	                                <li class="nav-item">
	                                    <a class="nav-link" href="#"><i class="fi-rs-sign-out mr-10"></i>문의내역</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="col-md-9">
	                        <div class="tab-content account dashboard-content pl-50">
								
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>