<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/userMypageLayout}">

<head>
<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
</head>
<body>
	<th:block layout:fragment="contents">
		<div class="tab-content">
			<!-- 마이페이지 기본 페이지 -->
			<div class="tab-pane fade show active" id="userOverview" th:object="${userInfo}">
				<h4>기본 정보</h4>
				<label>이름:</label>
				<input type="text" th:value="*{memberName}" />
				<label>닉네임:</label>
				<input type="text" th:value="*{memberNickName}" />
				<label>이메일:</label>
				<input type="email" th:value="*{memberEmail}" />

				<label>전화번호:</label>
				<input type="text" th:value="*{memberTelNo}" />
				<label>가입일:</label>
				<input type="text" th:value="*{memberJoinDate}" />
				<label>내 마일리지:</label>
<!--				<input type="text" th:value="*{userInfo.phone}" />-->
				<label>보유상품:</label>
				<p>
					<strong>이용권 : 3장</strong>
				</p>
				<p>
					<strong>구독권(만료일) : ~2025.07.25</strong>
				</p>
				<!-- 필요 시 프로필 사진 등 추가 -->
			</div>
			<!-- 내 정보 수정을 위한 비밀번호를 받는 페이지 -->
			<div class="tab-pane fade " id="userEdit">
				<form action="/userEditView" method="post"
					class="d-flex flex-column align-items-center">
					<h3>내 정보 수정</h3>
					<input type="password" id="passwordInput" name="password"
						placeholder="비밀번호 입력" required />
					<button type="submit">수정하기</button>
				</form>
			</div>

			<div class="tab-pane fade " id="myReqOs">
				<h3>내 외주 현황</h3>
				<p>이케이케 열심히 외주를 받았대요 영차영차</p>
				<a href="#">내 외주 현황 자세히 보기</a>
			</div>

			<div class="tab-pane fade " id="myReview">
				<h3>내가 작성한 리뷰</h3>
				<p>이케이케 열심히 리뷰를 작성했대요 영차영차</p>
				<a href="#">내가 작성한 리뷰 자세히 보기</a>
			</div>

			<div class="tab-pane fade " id="myBookmark">
				<h3>즐겨찾기 한 콘텐츠</h3>
				<p>이케이케 열심히 즐겨찾기를 눌렀대요 영차영차</p>
				<p>포트폴리오 즐겨찾기</p>
				<p>외주 즐겨찾기</p>
				<p>기업 즐겨찾기</p>
			</div>
			<div class="tab-pane fade " id="mySettList">
				<h3>결제내역</h3>
				<table class="table">
					<thead>
						<tr>
							<th style="text-align: center;">결제번호</th>
							<th style="text-align: center;">결제일시</th>
							<th style="text-align: center;">결제 상품</th>
							<th style="text-align: center;">사용된 마일리지</th>
							<th style="text-align: center;">결제 금액</th>
							<th style="text-align: center;">환불</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center;">123156</td>
							<td style="text-align: center;">March 45, 2020</td>
							<td style="text-align: center;">구독권</td>
							<td style="text-align: right; padding-right: 50px;">0</td>
							<td style="text-align: center;">39,900<span>원</span></td>
							<td style="text-align: center;">
								<button
									style="background-color: #ffffff; border: 1px solid #cccccc; border-radius: 5px; 
									padding: 2px 10px; font-size: 14px; cursor: pointer;">
									환불요청</button>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">1454125</td>
							<td style="text-align: center;">June 29, 2020</td>
							<td style="text-align: center;">구독권</td>
							<td style="text-align: right; padding-right: 50px;">0</td>
							<td style="text-align: center;">39,900<span>원</span></td>
							<td style="text-align: center;"><button
									style="background-color: #ffffff; border: 1px solid #cccccc; border-radius: 5px; 
									padding: 2px 10px; font-size: 14px; cursor: pointer;">
									환불요청</button>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">4891562</td>
							<td style="text-align: center;">August 02, 2020</td>
							<td style="text-align: center;">이용권</td>
							<td style="text-align: right; padding-right: 50px;">2000</td>
							<td style="text-align: center;">20,900<span>원</span></td>
							<td style="text-align: center;"><button
									style="background-color: #ffffff; border: 1px solid #cccccc; border-radius: 5px; 
									padding: 2px 10px; font-size: 14px; cursor: pointer;">
									환불요청</button>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th style="text-align: center;">결제번호</th>
							<th style="text-align: center;">결제일시</th>
							<th style="text-align: center;">결제 상품</th>
							<th style="text-align: center;">사용된 마일리지</th>
							<th style="text-align: center;">결제 금액</th>
							<th style="text-align: center;">환불</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center;">123156</td>
							<td style="text-align: center;">March 45, 2020</td>
							<td style="text-align: center;">구독권</td>
							<td style="text-align: right; padding-right: 50px;">0</td>
							<td style="text-align: center;">39,900<span>원</span></td>
							<td style="text-align: center;"><button
									style="background-color: #ffffff; border: 1px solid #cccccc; border-radius: 5px; 
									padding: 2px 10px; font-size: 14px; cursor: pointer;">
									환불요청</button>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">1454125</td>
							<td style="text-align: center;">June 29, 2020</td>
							<td style="text-align: center;">구독권</td>
							<td style="text-align: right; padding-right: 50px;">0</td>
							<td style="text-align: center;">39,900<span>원</span></td>
							<td style="text-align: center;"><button
									style="background-color: #ffffff; border: 1px solid #cccccc; border-radius: 5px; 
									padding: 2px 10px; font-size: 14px; cursor: pointer;">
									환불요청</button>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">4891562</td>
							<td style="text-align: center;">August 02, 2020</td>
							<td style="text-align: center;">이용권</td>
							<td style="text-align: right; padding-right: 50px;">2000</td>
							<td style="text-align: center;">20,900<span>원</span></td>
							<td style="text-align: center;"><button
									style="background-color: #ffffff; border: 1px solid #cccccc; border-radius: 5px; 
									padding: 2px 10px; font-size: 14px; cursor: pointer;">
									환불요청</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="tab-pane fade " id="myNotific">
				<h3>문의내역</h3>
				<p>이케이케 열심히 문의를 넣었대요 영차영차</p>
			</div>
		</div>

	</th:block>
</body>
<!-- 추가할 js file -->

</html>