<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterLayoutMain}">
	<head>
		<meta name="description" content="한국스마트정보교육원 ksmybatis" />
		     <link rel="shortcut icon" type="image/x-icon" th:href="@{/enter/assets/imgs/theme/favicon.svg}" />
    <link href="/enter/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
	</head>
	
	<!-- 추가할 js file -->
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
		<th:block layout:fragment="contents">
			<h2>리뷰페이지입니다</h2>
		</th:block>
</html>