<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userLayoutMain}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	<body>
	
	<!-- 추가할 js 파일 -->
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
	
<!-- 추가할 script -->
	<th:block layout:fragment="jsScript">
	</th:block>
	
	
	<!-- 여기부터 본문 -->
	<!-- 회원 정보 수정 페이지 시작 -->
	<th:block layout:fragment="contents">
		<form class="register edit" method="post">
			<div class="form-group">
			    <label for="userid">아이디</label>
			    <input type="text" id="userid" name="userid"  th:value = "ksmartid1" readonly />
			</div>
			<div class="form-group">
			    <label for="username">이름</label>
			    <input type="text" id="username" name="username"/>
			</div>
			<div class="form-group">
			    <label for="phone">전화번호</label>
			    <input type="text" id="phone" name="phone" placeholder="010-1234-5678" required />
			    <button type="submit" class="btn-send-code text-white">인증번호 발송</button>
			</div>
			
			<div class="form-group">
			    <label for="code">인증번호 입력</label>
			    <input type="text" id="code" name="code" placeholder="인증번호 입력"/>
			    <button type="submit" class="btn-verify-code text-white">인증</button>
			</div>
			
			<div class="form-group">
			    <label for="email">이메일</label>
			    <input type="email" id="email" name="email" placeholder="example@email.com" required />
			</div>
			<div class="form-group">
			    <label for="birth">생일</label>
			    <input type="date" id="birth" name="birth" class="form-control" readonly/>
			</div>
			<!-- 주소 섹션 -->
			<h4 style="color: #6c757d;" class="mb-10">주소</h4>
			<div class="form-group">
			    <label for="sample4_postcode">우편번호</label>
		        <input type="text" id="sample4_postcode" name="postcode" class="form-control" placeholder="우편번호" readonly />
		        <button type="button" class="btn btn-outline-secondary" onclick="sample4_execDaumPostcode()">우편번호 찾기</button>
			</div>
			<div class="form-group">
			    <label for="sample4_roadAddress">도로명 주소</label>
			    <input type="text" id="sample4_roadAddress" name="roadAddress" class="form-control" placeholder="도로명 주소" readonly />
			</div>
			<div class="form-group">
			    <label for="sample4_jibunAddress">지번 주소</label>
			    <input type="text" id="sample4_jibunAddress" name="jibunAddress" class="form-control" placeholder="지번 주소" readonly />
			</div>
			<div class="form-group">
			    <label for="sample4_detailAddress">상세 주소</label>
			    <input type="text" id="sample4_detailAddress" name="detailAddress" class="form-control" placeholder="상세 주소" />
			</div>
			<span id="guide" style="color:#999; display:none"></span>

			<!-- 제출 버튼 -->
			<div class="form-group">
			    <button type="submit" class="btn btn-primary w-70 fw-bold">정보 수정</button>
			</div>
		</form>
	</th:block>
	</body>
	<!-- 추가할 js file -->
	
</html>