<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterLayoutInquiryWrite}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	
	<!-- 추가할 js file -->
	<!-- 타이틀 추가 -->
	<th:block layout:fragment="title">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-9">
				<div class="single-header style-2">
					<div class="row">
						<div class="col-xl-10 col-lg-12 m-auto">
							<h6 class="mb-10">
							  <a href="#" th:text="${inquiry.inquiryTypeName}">문의 타입</a>
							</h6>
							<h2 class="mb-10" th:text="${inquiry.inquiryTitle}">문의 제목</h2>
							<div class="single-header-meta">
								<div class="entry-meta meta-1 font-xs mt-15 mb-15">
									<a class="author-avatar" href="#">
										<img class="img-circle" src="/user/assets/imgs/blog/author-1.png" alt="">
									</a>
									<span class="post-by">By <a href="#" th:text="${inquiry.memberName}">작성자</a></span>
									<span class="post-on has-dot" th:text="${inquiry.inquiryRegDate}">작성일자</span>
									<span class="time-reading has-dot">00 views</span>
								</div>
							</div>
						</div>
					</div>
				</div>       
			</div>
			<div class="entry-bottom mb-30"></div>
		</div>
	</th:block>
	
	<!-- 컨텐츠 추가 -->
	<th:block layout:fragment="contents">
		<div class="single-page pr-30">
			<div class="single-content">
				<div class="row">
					<div class="col-xl-10 col-lg-12 m-auto">
					<div class="attachment-list mb-30" th:if="${inquiry.subAttOrgnlName != null}">
					  <div class="att-list-wrapper">
					    <div class="att-label">첨부파일</div>
					    <ul class="att-file-list">
					      <li>
					        <a th:href="@{${inquiry.subAttPath + '/' + inquiry.subAttSrvrName}}" 
					           th:text="${inquiry.subAttOrgnlName}" 
					           download>첨부파일</a>
					      </li>
					    </ul>
					  </div>
					</div>
						<p th:utext="${#strings.replace(inquiry.inquiryCn, '. ', '.<br/>')}">문의내용</p>
						<div class="entry-bottom mt-50 mb-30">
						</div>
						<!--Author box-->
						<div class="author-bio p-30 border-radius-15 bg-white">
							<div class="author-image mb-30">
							    <a href="author.html"><img src="/user/assets/imgs/blog/author-1.png" alt="" class="avatar"></a>
							    <div class="author-infor">
									<h5 class="mb-5" th:text="${inquiry.adminName}">ADMIN ID</h5>
									<p class="mb-0 text-muted font-xs">
										<span class="mr-10" th:text="${inquiry.inquiryProcessRegDate}">YYYY-MM-DD mm:ss</span>
										<span class="has-dot">답변 완료</span>
									</p>
							    </div>
							</div>
							<div class="author-des" th:utext="${#strings.replace(inquiry.inquiryProcessCn, '. ', '.<br/>')}">
								문의내용
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</html>