<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userRegisterLayout}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
		<title>회원가입</title>
	</head>
	<th:block layout:fragment="contents">
		        <!-- 수정 신세영 -->
        <div class="page-content pt-50 pb-150">
		    <div class="container">
		        <div class="row justify-content-center">
		            <div class="col-xl-6 col-lg-6 col-md-8">
		                <div class="login_wrap widget-taber-content background-white mx-auto">
		                    <div class="padding_eight_all bg-white">
		                        <div class="heading_s1 text-center">
		                            <h1 class="mb-5 reg-ttl-ssy">회원 가입</h1>
		                            <p class="mb-30">
		                                
		                            </p>
		                        </div>
		                        <div class="register-type-box mt-20 gap-3">
		                            <a href="/userRegister" class="user-register-type text-white d-flex align-items-center justify-content-around">
		                                <span class="ms-2 fs-4">일반회원으로 가입하기</span>
		                                <img th:src="@{/user/assets/imgs/outpolic/regChoice.png}" />
		                                <span>일반 회원으로 가입해서 여러 분야의 전문가를 만나보세요.</span>
		                            </a>
		                            <a href="/enterRegAdd" class="enter-register-type text-white d-flex align-items-center justify-content-around">
		                                <span class="ms-2 fs-4">기업회원으로 가입하기</span>
		                                <img th:src="@{/user/assets/imgs/outpolic/regChoice.png}" />
		                                <span>기업회원으로 가입해서 전문성을 높여보세요.</span>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</th:block>        
	<!-- 추가할 js file -->
	<!-- class="col-lg-6 pr-30 d-none d-lg-block" -->
</html>