<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="shop-product-fillter" th:fragment="userProductFilterFragment">
		<div class="totall-product">
		    <p>We found <strong class="text-brand">29</strong> items for you!</p>
		</div>
		<div class="sort-by-product-area">
			<div class="sort-by-cover mr-10">
				<div class="sort-by-product-wrap">
					<div class="sort-by">
						<span><i class="fi-rs-apps"></i>Show:</span>
					</div>
					<div class="sort-by-dropdown-wrap">
						<span> 50 <i class="fi-rs-angle-small-down"></i></span>
					</div>
				</div>
				<div class="sort-by-dropdown">
					<ul>
						<li><a class="active" href="#">50</a></li>
						<li><a href="#">100</a></li>
						<li><a href="#">150</a></li>
						<li><a href="#">200</a></li>
						<li><a href="#">All</a></li>
					</ul>
				</div>
			</div>
			<div class="sort-by-cover">
				<div class="sort-by-product-wrap">
					<div class="sort-by">
					    <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
					</div>
					<div class="sort-by-dropdown-wrap">
					    <span> Featured <i class="fi-rs-angle-small-down"></i></span>
					</div>
				</div>
				<div class="sort-by-dropdown">
					<ul>
					    <li><a class="active" href="#">Featured</a></li>
					    <li><a href="#">Price: Low to High</a></li>
					    <li><a href="#">Price: High to Low</a></li>
						<li><a href="#">Release Date</a></li>
						<li><a href="#">Avg. Rating</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</html>